
title{
  text-align: center;   
  color: #3D52A0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p { 
    text-align: center;   color: #3D52A0;
  }
  #para1 {
    text-align: center;   color: #3D52A0;
  }
  body {
	background-color: #ADBBDA;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: #3D52A0;
	text-align: center;
}

div{
  height:auto + 10px;
  width: 300px;
  border-radius: 15%;
  background-color: #8697C4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}



